/* Compass */
/* Utilities */
/* ==========================================================================
   Site settings.
   ========================================================================== */
/* Typograthy */
/* Colors */
/* Colors for buttons and border */
/* Colors for bg */
/**/
/* Positioning */
/* Clearfix */
/* line 34, ../sass/utilities/_settings.scss */
.clearfix:after, .center-wrapper:after, .nav .nav:after, .logo:after, .header-propose:after, .header-propose img:after, .about-us:after, .testimonials .t-list:after, .contact-info:after, .contact-form:after, .contact-mail:after, .clearfix:before, .center-wrapper:before, .nav .nav:before, .logo:before, .header-propose:before, .header-propose img:before, .about-us:before, .testimonials .t-list:before, .contact-info:before, .contact-form:before, .contact-mail:before {
  content: "";
  clear: both;
  display: table;
}

/* Center Wrapper */
/* line 43, ../sass/utilities/_settings.scss */
.center-wrapper {
  margin: 0 auto;
  width: 940px;
}

/* ==========================================================================
   Utilities.
   ========================================================================== */
/* Create sprites */
/* line 96, icons/*.png */
.icons-sprite, .icons-browser, .icons-btn-choose, .icons-face, .icons-heart, .icons-logo, .icons-responsive, .icons-statistic {
  background-image: url('/img/icons-s9485d7bfd9.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-browser {
  background-position: 0 0;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-btn-choose {
  background-position: 0 -85px;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-face {
  background-position: 0 -117px;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-heart {
  background-position: 0 -273px;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo {
  background-position: 0 -359px;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-responsive {
  background-position: 0 -415px;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-statistic {
  background-position: 0 -500px;
}

/* line 9, ../sass/utilities/_utilities.scss */
.icons-heart,
.icons-responsive,
.icons-browser {
  display: block;
  height: 85px;
  width: 99px;
}

/* line 17, ../sass/utilities/_utilities.scss */
.icons-face {
  display: block;
  width: 142px;
  height: 156px;
}

/* line 23, ../sass/utilities/_utilities.scss */
.icons-statistic {
  width: 238px;
  height: 144px;
}

/* Bootstrap or another */
/* I Used Susy */
/* Base */
/* line 5, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ==========================================================================
   Base styles.
   ========================================================================== */
/* line 4, ../sass/base/_base.scss */
body {
  max-width: 1500px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  font-family: "OpenSansRegular", "Helvetica", "Arial", sans-serif;
  color: #34495e;
}

/* line 14, ../sass/base/_base.scss */
h1 {
  font-size: 72px;
  line-height: 30px;
}

/* h1 - use only for logo */
/* Use in header-propose and feateres */
/* line 21, ../sass/base/_base.scss */
h2 {
  font-size: 30px;
  line-height: 30px;
  vertical-align: baseline;
}

/* Use in sec. About us */
/* line 28, ../sass/base/_base.scss */
h3 {
  font-size: 24px;
  line-height: 24px;
}

/* Use in sec. service */
/* line 34, ../sass/base/_base.scss */
h4 {
  font-size: 20px;
  line-height: 24px;
}

/* Use in sec. Testimonials*/
/* line 40, ../sass/base/_base.scss */
h5 {
  font-size: 24px;
  line-height: 30px;
}

/* line 45, ../sass/base/_base.scss */
h6 {
  font-size: 48px;
  line-height: 30px;
}

/* line 50, ../sass/base/_base.scss */
a {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
}
/* line 55, ../sass/base/_base.scss */
a:active {
  color: #fff;
}

/* line 60, ../sass/base/_base.scss */
li {
  text-decoration: none;
}

/* line 64, ../sass/base/_base.scss */
p {
  font-weight: 300;
}

/* ==========================================================================
   Ie8 styles.
   ========================================================================== */
/* Fonts */
@font-face {
  /* Main fonts */
  font-family: "OpenSansRegular";
  src: url("/fonts/opensans-regular.eot");
  src: url("/fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-regular.woff") format("woff"), url("/fonts/opensans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("/fonts/open_sans_condensed_light.eot");
  src: url("/fonts/open_sans_condensed_light.eot?#iefix") format("embedded-opentype"), url("/fonts/open_sans_condensed_light.woff") format("woff"), url("/fonts/open_sans_condensed_light.ttf") format("truetype"), url("/fonts/open_sans_condensed_light.svg#OpenSansCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Layout */
/* ==========================================================================
   Navigation styles.
   ========================================================================== */
/* line 6, ../sass/layout/_nav.scss */
.nav li {
  display: inline-block;
}
/* line 9, ../sass/layout/_nav.scss */
.nav li a {
  padding: 10px;
  color: #fff;
}
/* line 14, ../sass/layout/_nav.scss */
.nav li:last-of-type {
  font-weight: bold;
}
/* line 23, ../sass/layout/_nav.scss */
.nav li:first-of-type {
  border-bottom: 3px solid #1abc9c;
}

/* End nav*/
/* ==========================================================================
   Header styles
   ========================================================================== */
/* line 5, ../sass/layout/_header.scss */
.header {
  background: url(/img/header-bg.jpg) no-repeat;
  background-size: cover;
  height: 877px;
}

/* line 11, ../sass/layout/_header.scss */
.nav {
  float: right;
  margin-top: 90px;
}

/* line 17, ../sass/layout/_header.scss */
.logo {
  float: left;
  width: 154px;
  height: 55px;
  margin-top: 67px;
  background: url(/img/icons-s9485d7bfd9.png) no-repeat 0 -359px;
}

/* / logo */
/* line 30, ../sass/layout/_header.scss */
.header-propose {
  margin-top: 190px;
}
/* line 35, ../sass/layout/_header.scss */
.header-propose img {
  float: left;
  margin-right: 41px;
}
/* line 47, ../sass/layout/_header.scss */
.header-propose .header-propose-text {
  margin-top: 58px;
  color: #fff;
}
/* line 51, ../sass/layout/_header.scss */
.header-propose .header-propose-text h2 {
  margin-bottom: 42px;
}
/* line 55, ../sass/layout/_header.scss */
.header-propose .header-propose-text p {
  font-family: "OpenSansLight", "OpenSansRegular", sans-serif;
  font-size: 18px;
  line-height: 30px;
}
/* line 61, ../sass/layout/_header.scss */
.header-propose .header-propose-text .propose-list {
  margin-top: 65px;
}
/* line 64, ../sass/layout/_header.scss */
.header-propose .header-propose-text .propose-list li {
  display: inline-block;
}
/* line 70, ../sass/layout/_header.scss */
.header-propose .header-propose-text .propose-list-choice {
  position: relative;
  background-color: #fff;
  color: #34495e;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #fff;
}

/* / header */
/*


*/
/* ==========================================================================
   Main styles
   ========================================================================== */
/* line 8, ../sass/layout/_main.scss */
.about-us {
  margin-top: 112px;
}
/* line 13, ../sass/layout/_main.scss */
.about-us h3 {
  display: inline-block;
}
/* line 17, ../sass/layout/_main.scss */
.about-us p {
  float: left;
  width: 604px;
  margin-top: 27px;
  font-size: 18px;
  line-height: 30px;
}
/* line 25, ../sass/layout/_main.scss */
.about-us .icons-statistic {
  margin-top: -20px;
  float: right;
}

/* / about-us */
/*
*/
/* line 35, ../sass/layout/_main.scss */
.service {
  margin-top: 128px;
  background-color: #f7f7f7;
  opacity: 50%;
}
/* line 41, ../sass/layout/_main.scss */
.service .center-wrapper {
  padding: 75px 0 98px 0;
}
/* line 47, ../sass/layout/_main.scss */
.service .service-item {
  width: 298px;
  display: inline-block;
  text-align: center;
}
/* line 52, ../sass/layout/_main.scss */
.service .service-item div {
  margin: 0 auto;
}
/* line 56, ../sass/layout/_main.scss */
.service .service-item h4 {
  margin: 29px 0 23px;
}
/* line 60, ../sass/layout/_main.scss */
.service .service-item:not(:first-of-type) {
  margin-left: 18px;
}
/* line 64, ../sass/layout/_main.scss */
.service .service-item p {
  font-family: "OpenSansLight", "OpenSansRegular", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

/* / service */
/*
*/
/* line 76, ../sass/layout/_main.scss */
.features {
  position: relative;
  background: url(/img/main-bg.jpg) no-repeat;
  background-size: 100% 510px;
  text-align: center;
  color: #fff;
  /* add slider arrows */
  /* positioning right arrow*/
}
/* line 83, ../sass/layout/_main.scss */
.features:before, .features:after {
  content: "";
  position: absolute;
  top: 259px;
  background: url(/img/arrows.png) no-repeat 0 0;
  display: block;
  height: 84px;
  width: 49px;
}
/* line 94, ../sass/layout/_main.scss */
.features:before {
  left: 285px;
}
/* line 98, ../sass/layout/_main.scss */
.features:after {
  right: 275px;
  background-position: 100% 0;
}
/* line 104, ../sass/layout/_main.scss */
.features h2 {
  margin: 62px 0 9px 0;
}
/* line 108, ../sass/layout/_main.scss */
.features p {
  font-family: "OpenSansLight", "OpenSansRegular", sans-serif;
}

/* line 114, ../sass/layout/_main.scss */
.features-laptop {
  position: relative;
  padding-top: 100px;
}

/* / features*/
/*
*/
/* line 123, ../sass/layout/_main.scss */
.testimonials {
  text-align: center;
}
/* line 125, ../sass/layout/_main.scss */
.testimonials .center-wrapper {
  margin-bottom: 136px;
}
/* line 131, ../sass/layout/_main.scss */
.testimonials h6 {
  margin-bottom: 69px;
  margin-top: 58px;
}
/* line 136, ../sass/layout/_main.scss */
.testimonials .t-list {
  display: inline-block;
  width: 450px;
}
/* line 142, ../sass/layout/_main.scss */
.testimonials .t-list:nth-child(2n) {
  margin-left: 32px;
}
/* line 146, ../sass/layout/_main.scss */
.testimonials .t-list div {
  float: left;
  margin-right: 20px;
}
/* line 151, ../sass/layout/_main.scss */
.testimonials .t-list h5 {
  margin: 28px 0 32px 0;
}
/* line 155, ../sass/layout/_main.scss */
.testimonials .t-list p {
  font-family: "OpenSansLight", "OpenSansRegular", sans-serif;
}

/* / testimonials */
/*
*/
/* line 164, ../sass/layout/_main.scss */
.contact {
  background-color: #34495e;
}
/* line 168, ../sass/layout/_main.scss */
.contact .center-wrapper {
  padding: 110px 0 117px 0;
}

/* line 174, ../sass/layout/_main.scss */
.contact-info {
  float: left;
  width: 460px;
  color: #fff;
  /* / edit "p" element */
}
/* line 182, ../sass/layout/_main.scss */
.contact-info h5 {
  line-height: 28px;
  margin-bottom: 23px;
}
/* line 188, ../sass/layout/_main.scss */
.contact-info p:first-of-type {
  margin-bottom: 45px;
  font-family: "OpenSansLight", "OpenSansRegular", sans-serif;
}
/* line 193, ../sass/layout/_main.scss */
.contact-info p:not(:first-of-type) {
  margin-bottom: 22px;
}
/* line 196, ../sass/layout/_main.scss */
.contact-info p:not(:first-of-type):before {
  content: "";
  background: url(/img/contact.png) no-repeat;
  display: inline-block;
  width: 25px;
  height: 20px;
}
/* line 206, ../sass/layout/_main.scss */
.contact-info p:nth-child(4):before {
  background: url(/img/contact.png) no-repeat 0 50%;
}
/* line 213, ../sass/layout/_main.scss */
.contact-info p:nth-child(5):before {
  background: url(/img/contact.png) no-repeat 0 100%;
}

/* line 221, ../sass/layout/_main.scss */
.contact-form {
  float: right;
}

/* / Main */
/*


*/
/* ==========================================================================
   Footer styles.
   ========================================================================== */
/* line 5, ../sass/layout/_footer.scss */
.footer {
  background-color: #2c3e50;
  padding: 74px 0 68px 0;
}

/* line 10, ../sass/layout/_footer.scss */
.copywrite {
  display: block;
  text-align: center;
  color: #fff;
}

/* / footer */
/*


*/
/* Modules */
/* ==========================================================================
   Button styles
   ========================================================================== */
/* line 5, ../sass/modules/_btn.scss */
.btn {
  display: block;
  box-sizing: border-box;
  width: 170px;
  height: 57px;
  background-color: #1abc9c;
  color: #fff;
  font-size: 18px;
  font-family: "OpenSansRegular", "Helvetica", "Arial", sans-serif;
  border: none;
  border-radius: 5px;
}

/* line 22, ../sass/modules/_btn.scss */
.btn-blue {
  display: block;
  box-sizing: border-box;
  width: 170px;
  height: 57px;
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  font-family: "OpenSansRegular", "Helvetica", "Arial", sans-serif;
  border: none;
  border-radius: 5px;
}

/* ==========================================================================
   Form styles.
   ========================================================================== */
/* line 4, ../sass/modules/_forms.scss */
.contact-form {
  position: relative;
  width: 460px;
}

/* line 11, ../sass/modules/_forms.scss */
.contact-name,
.contact-mail,
.contact-subject,
.contact-message {
  margin-bottom: 15px;
  color: #fff;
  background-color: #5d6d7e;
  box-sizing: border-box;
  height: 43px;
  padding-left: 12px;
  font-size: 13px;
  line-height: 28px;
  font-family: "OpenSansRegular", "Helvetica", "Arial", sans-serif;
  border: none;
  border-radius: 5px;
}

/* line 28, ../sass/modules/_forms.scss */
.contact-name,
.contact-mail {
  display: inline-block;
  width: 220px;
}

/* line 34, ../sass/modules/_forms.scss */
.contact-mail {
  float: right;
}

/* line 41, ../sass/modules/_forms.scss */
.contact-subject {
  width: 460px;
  position: relative;
}

/* line 46, ../sass/modules/_forms.scss */
.icons-btn-choose {
  width: 37px;
  height: 32px;
  position: absolute;
  left: 417px;
  top: 63px;
}

/* line 54, ../sass/modules/_forms.scss */
.contact-message {
  width: 460px;
  height: 150px;
}

/* line 61, ../sass/modules/_forms.scss */
.contact-form .btn,
.contact-form .btn-blue {
  float: left;
}
/* line 66, ../sass/modules/_forms.scss */
.contact-form .btn-blue {
  float: right;
}
/* line 70, ../sass/modules/_forms.scss */
.contact-form .btn {
  margin-left: 100px;
}

/*
Add Opensans Light 
Fix bug with header resize bg

*/
