/* Compass */
/* Utilities */
/* ==========================================================================
   Site settings.
   ========================================================================== */
/* Typograthy */
/* Colors */
/* Colors for buttons and border */
/* Colors for bg */
/**/
/* Positioning */
/* Clearfix */
/* line 33, ../sass/utilities/_settings.scss */
.clearfix:after, .center-wrapper:after, .header .nav .logo:after,
.header .nav .nav:after, .header .header-propose:after, .header .header-propose img:after, .main .about-us:after, .main .testimonials .t-list:after, .contact-form:after, .contact-mail:after, .clearfix:before, .center-wrapper:before, .header .nav .logo:before,
.header .nav .nav:before, .header .header-propose:before, .header .header-propose img:before, .main .about-us:before, .main .testimonials .t-list:before, .contact-form:before, .contact-mail:before {
  content: "";
  clear: both;
  display: table;
}

/* Center Wrapper */
/* line 42, ../sass/utilities/_settings.scss */
.center-wrapper {
  margin: 0 auto;
  width: 940px;
  outline: 1px dashed red;
}

/* ==========================================================================
   Utilities.
   ========================================================================== */
/* line 96, icons/*.png */
.icons-sprite, .icons-browser, .icons-btn-choose, .icons-face, .icons-heart, .icons-logo, .icons-responsive, .icons-statistic {
  background-image: url('/img/icons-s9485d7bfd9.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-browser {
  background-position: 0 0;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-btn-choose {
  background-position: 0 -85px;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-face {
  background-position: 0 -117px;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-heart {
  background-position: 0 -273px;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo {
  background-position: 0 -359px;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-responsive {
  background-position: 0 -415px;
}

/* line 84, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-statistic {
  background-position: 0 -500px;
}

/* line 8, ../sass/utilities/_utilities.scss */
.icons-heart,
.icons-responsive,
.icons-browser {
  display: block;
  height: 85px;
  width: 99px;
}

/* line 16, ../sass/utilities/_utilities.scss */
.icons-face {
  display: block;
  width: 142px;
  height: 156px;
}

/* line 22, ../sass/utilities/_utilities.scss */
.icons-statistic {
  width: 238px;
  height: 144px;
}

/* Bootstrap or another */
/* I Used Susy */
/* Base */
/* line 5, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ==========================================================================
   Base styles.
   ========================================================================== */
/* line 4, ../sass/base/_base.scss */
body {
  max-width: 1500px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
  color: #34495e;
}

/* line 14, ../sass/base/_base.scss */
h1 {
  font-size: 72px;
  line-height: 30px;
}

/* h1 - use only for logo */
/* Use in header-propose and feateres */
/* line 21, ../sass/base/_base.scss */
h2 {
  font-size: 30px;
  line-height: 30px;
  vertical-align: baseline;
}

/* Use in sec. About us */
/* line 28, ../sass/base/_base.scss */
h3 {
  font-size: 24px;
  line-height: 24px;
}

/* Use in sec. service */
/* line 34, ../sass/base/_base.scss */
h4 {
  font-size: 20px;
  line-height: 24px;
}

/* Use in sec. Testimonials*/
/* line 40, ../sass/base/_base.scss */
h5 {
  font-size: 24px;
  line-height: 30px;
}

/* line 45, ../sass/base/_base.scss */
h6 {
  font-size: 48px;
  line-height: 30px;
}

/* line 50, ../sass/base/_base.scss */
a {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
}
/* line 55, ../sass/base/_base.scss */
a:active {
  color: #fff;
}

/* line 60, ../sass/base/_base.scss */
li {
  text-decoration: none;
}

/* ==========================================================================
   Ie8 styles.
   ========================================================================== */
/* Fonts */
@font-face {
  /* Main fonts */
  font-family: "OpenSansRegular";
  src: url("/fonts/opensans-regular.eot");
  src: url("/fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-regular.woff") format("woff"), url("/fonts/opensans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* Logo fonts only */
  font-family: "Bles";
  src: url("/fonts/Blesd.ttf");
  font-weight: normal;
  font-style: normal;
}
/* Layout */
/* ==========================================================================
   Header styles
   ========================================================================== */
/* line 5, ../sass/layout/_header.scss */
.header {
  background: url(/img/header-bg.jpg) no-repeat;
  background-size: cover;
  height: 877px;
  /* End logo and nav*/
  /*
  
  
  */
}
/* line 11, ../sass/layout/_header.scss */
.header .logo {
  float: left;
  width: 154px;
  height: 55px;
  margin-top: 67px;
  background: url(/img/icons-s9485d7bfd9.png) no-repeat 0 -359px;
}
/* line 20, ../sass/layout/_header.scss */
.header .nav {
  float: right;
  margin-top: 90px;
}
/* line 24, ../sass/layout/_header.scss */
.header .nav li {
  display: inline-block;
}
/* line 27, ../sass/layout/_header.scss */
.header .nav li a {
  padding: 10px;
  color: #fff;
}
/* line 38, ../sass/layout/_header.scss */
.header .nav li:first-of-type {
  border-bottom: 3px solid #1abc9c;
}
/* line 47, ../sass/layout/_header.scss */
.header .header-propose {
  margin-top: 190px;
}
/* line 52, ../sass/layout/_header.scss */
.header .header-propose img {
  float: left;
  margin-right: 41px;
}
/* line 64, ../sass/layout/_header.scss */
.header .header-propose .header-propose-text {
  margin-top: 58px;
  color: #fff;
}
/* line 68, ../sass/layout/_header.scss */
.header .header-propose .header-propose-text h2 {
  margin-bottom: 42px;
}
/* line 72, ../sass/layout/_header.scss */
.header .header-propose .header-propose-text p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
/* line 78, ../sass/layout/_header.scss */
.header .header-propose .header-propose-text .propose-list {
  margin-top: 65px;
}
/* line 81, ../sass/layout/_header.scss */
.header .header-propose .header-propose-text .propose-list li {
  display: inline-block;
}
/* line 87, ../sass/layout/_header.scss */
.header .header-propose .header-propose-text .propose-list-choice {
  position: relative;
  background-color: #fff;
  color: #34495e;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #fff;
  z-index: 99;
}

/* mean layout header */
/* ==========================================================================
   Navigation styles.
   ========================================================================== */
/* mean layout navigation*/
/* ==========================================================================
   Main styles
   ========================================================================== */
/* line 5, ../sass/layout/_main.scss */
.main {
  /* / about-us*/
  /* / service */
  /* / features*/
}
/* line 7, ../sass/layout/_main.scss */
.main .about-us {
  margin-top: 112px;
}
/* line 12, ../sass/layout/_main.scss */
.main .about-us h3 {
  display: inline-block;
}
/* line 16, ../sass/layout/_main.scss */
.main .about-us p {
  float: left;
  width: 604px;
  margin-top: 27px;
  font-size: 18px;
  line-height: 30px;
}
/* line 24, ../sass/layout/_main.scss */
.main .about-us .icons-statistic {
  margin-top: -20px;
  float: right;
}
/* line 33, ../sass/layout/_main.scss */
.main .service {
  margin-top: 128px;
  background-color: #f7f7f7;
  opacity: 50%;
}
/* line 39, ../sass/layout/_main.scss */
.main .service .center-wrapper {
  padding: 75px 0 98px 0;
}
/* line 45, ../sass/layout/_main.scss */
.main .service .service-item {
  width: 298px;
  display: inline-block;
  text-align: center;
}
/* line 50, ../sass/layout/_main.scss */
.main .service .service-item div {
  margin: 0 auto;
}
/* line 54, ../sass/layout/_main.scss */
.main .service .service-item h4 {
  margin: 29px 0 23px;
}
/* line 58, ../sass/layout/_main.scss */
.main .service .service-item:not(:first-of-type) {
  margin-left: 18px;
}
/* line 62, ../sass/layout/_main.scss */
.main .service .service-item p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}
/* line 72, ../sass/layout/_main.scss */
.main .features {
  background: url(/img/main-bg.jpg) no-repeat;
  background-size: 100% 510px;
  text-align: center;
}
/* line 78, ../sass/layout/_main.scss */
.main .features h2 {
  margin: 62px 0 9px 0;
}
/* line 82, ../sass/layout/_main.scss */
.main .features .features-laptop {
  position: relative;
  padding-top: 100px;
  /* add slider arrows */
  /* positioning right arrow*/
}
/* line 87, ../sass/layout/_main.scss */
.main .features .features-laptop:before, .main .features .features-laptop:after {
  content: "";
  position: absolute;
  top: 142px;
  background: url(/img/arrows.png) no-repeat 0 0;
  background-color: red;
  display: block;
  height: 84px;
  width: 49px;
}
/* line 100, ../sass/layout/_main.scss */
.main .features .features-laptop:after {
  right: 0;
  background-position: 100% 0;
}
/* line 109, ../sass/layout/_main.scss */
.main .testimonials {
  text-align: center;
}
/* line 112, ../sass/layout/_main.scss */
.main .testimonials .t-list {
  outline: 1px solid black;
  display: inline-block;
  width: 450px;
}
/* line 119, ../sass/layout/_main.scss */
.main .testimonials .t-list:nth-child(2n) {
  margin-left: 30px;
  outline: 3px solid red;
}
/* line 124, ../sass/layout/_main.scss */
.main .testimonials .t-list div {
  float: left;
  margin-right: 22px;
}
/* line 129, ../sass/layout/_main.scss */
.main .testimonials .t-list h5 {
  margin: 28px 0 32px;
}

/* mean layout main */
/* ==========================================================================
   Footer styles.
   ========================================================================== */
/* Modules */
/* ==========================================================================
   Button styles
   ========================================================================== */
/* line 5, ../sass/modules/_btn.scss */
.btn {
  display: block;
  box-sizing: border-box;
  width: 170px;
  height: 57px;
  background-color: #1abc9c;
  color: #fff;
  font-size: 18px;
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 5px;
}

/* line 22, ../sass/modules/_btn.scss */
.btn-blue {
  display: block;
  box-sizing: border-box;
  width: 170px;
  height: 57px;
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 5px;
}

/* ==========================================================================
   Dividers styles.
   ========================================================================== */
/* ==========================================================================
   Form styles.
   ========================================================================== */
/* line 4, ../sass/modules/_forms.scss */
.contact-form {
  position: relative;
  width: 460px;
  outline: 2px solid red;
}

/* line 12, ../sass/modules/_forms.scss */
.contact-name,
.contact-mail,
.contact-subject,
.contact-message {
  margin-bottom: 15px;
  color: #fff;
  background-color: #5d6d7e;
  box-sizing: border-box;
  height: 43px;
  padding-left: 12px;
  font-size: 13px;
  line-height: 28px;
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 5px;
}

/* line 29, ../sass/modules/_forms.scss */
.contact-name,
.contact-mail {
  display: inline-block;
  width: 220px;
}

/* line 35, ../sass/modules/_forms.scss */
.contact-mail {
  float: right;
}

/* line 42, ../sass/modules/_forms.scss */
.contact-subject {
  width: 460px;
  position: relative;
}

/* line 47, ../sass/modules/_forms.scss */
.icons-btn-choose {
  width: 37px;
  height: 32px;
  position: absolute;
  left: 417px;
  top: 63px;
}

/* line 55, ../sass/modules/_forms.scss */
.contact-message {
  width: 460px;
  height: 150px;
}

/* line 62, ../sass/modules/_forms.scss */
.contact-form .btn,
.contact-form .btn-blue {
  float: left;
}
/* line 67, ../sass/modules/_forms.scss */
.contact-form .btn-blue {
  float: right;
}
/* line 71, ../sass/modules/_forms.scss */
.contact-form .btn {
  margin-left: 100px;
}

/* ==========================================================================
   Table styles.
   ========================================================================== */
/* ==========================================================================
   Other styles.
   ========================================================================== */
/* Theme */
/* ==========================================================================
   Theme styles.
   ========================================================================== */
/*
Add Opensans Light 
Fix bug with header resize bg

*/
