/* Compass */
/* Utilities */
/* ==========================================================================
   Site settings.
   ========================================================================== */
/* Typograthy */
/* Colors */
/* Positioning */
/* ==========================================================================
   Utilities.
   ========================================================================== */
/* line 5, C:/OpenServer/domains/claymore/sass/utilities/_utilities.scss */
.text_align {
  text-align: left; }

/* line 9, C:/OpenServer/domains/claymore/sass/utilities/_utilities.scss */
.text_right {
  text-align: right; }

/* line 13, C:/OpenServer/domains/claymore/sass/utilities/_utilities.scss */
.text_center {
  text-align: center; }

/* Bootstrap or another */
/* I Used Susy */
/* Base */
/* ==========================================================================
   Base styles.
   ========================================================================== */
/* line 5, C:/OpenServer/domains/claymore/sass/base/_base */
h1 {
  font-size: 72px;
  line-height: 30px; }

/* line 11, C:/OpenServer/domains/claymore/sass/base/_base */
a {
  font-size: 18px;
  line-height: 30px; }

/* line 16, C:/OpenServer/domains/claymore/sass/base/_base */
li {
  text-decoration: none; }

/* ==========================================================================
   Ie8 styles.
   ========================================================================== */
/* Fonts */
/* Layout */
/* ==========================================================================
   Header styles
   ========================================================================== */
/* mean layout header */
/* ==========================================================================
   Navigation styles.
   ========================================================================== */
/* mean layout navigation*/
/* ==========================================================================
   Main styles
   ========================================================================== */
/* mean layout main */
/* ==========================================================================
   Footer styles.
   ========================================================================== */
/* Modules */
/* ==========================================================================
   Button styles
   ========================================================================== */
/* ==========================================================================
   Dividers styles.
   ========================================================================== */
/* line 5, C:/OpenServer/domains/claymore/sass/modules/_dividers.scss */
hr {
  display: block;
  height: 1px;
  margin: 48px 0;
  background: none;
  background-color: green; }

/* ==========================================================================
   Form styles.
   ========================================================================== */
/* ==========================================================================
   Table styles.
   ========================================================================== */
/* ==========================================================================
   Other styles.
   ========================================================================== */
/* Theme */
/* ==========================================================================
   Theme styles.
   ========================================================================== */
/*# sourceMappingURL=style.css.map */