/* ==========================================================================
   Footer styles.
   ========================================================================== */

.footer {
  background-color: $color-footer;
  padding: 74px 0 68px 0;
}

.copywrite {
  display: block;
  text-align: center;
  color: $color-white;
}
/* / footer */
/*


*/
