/* ==========================================================================
   Main styles
   ========================================================================== */

.main {
  
  .about-us {
    margin-top: 112px;
    
    @extend .clearfix;
    
    h3 {
      display: inline-block;
    }
    
    p {
      float: left;
      width: 604px;
      margin-top: 27px;
      font-size: 18px;
      line-height: 30px;
    }
    
    .icons-statistic {
      margin-top: -20px;
      float: right;
    }
    
  }
  /* / about-us*/
  
  
  .service {
//    height: 397px;
    margin-top: 128px;
    background-color: $color-bg2;
    opacity: 50%;
    
    .center-wrapper {
      padding: 75px 0 98px 0;
    }
    
    
    
    .service-item {
      width: 298px;
      display: inline-block;
      text-align: center;
      
      div {
        margin: 0 auto;
      }
      
      h4 {
        margin: 29px 0 23px;
      }
      
      &:not(:first-of-type) {
        margin-left: 18px;
      }
      
      p {
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
      }
    }
  }
  /* / service */
  
  
  .features {
    background: url(/img/main-bg.jpg) no-repeat;
    background-size: 100% 510px;
    text-align: center;

    
    h2 {
      margin: 62px 0 9px 0;
    }
    
    .features-laptop {
      position: relative;
      padding-top: 100px;
      
      
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 142px;
        background: url(/img/arrows.png) no-repeat 0 0;
        background-color: red;
        display: block;
        height: 84px;
        width: 49px;
      }
      /* add slider arrows */
      
      &:after{
        right: 0;
        background-position: 100% 0;
      }
      /* positioning right arrow*/
    }
  }
  /* / features*/
  
  .testimonials {
    text-align: center;
    
    .t-list {
      outline: 1px solid black;
      display: inline-block;
      width: 450px;
      
      @extend .clearfix;
      
      &:nth-child(2n) {
        margin-left: 30px;
        outline: 3px solid red;
      }
      
      div {
        float: left;
        margin-right: 22px;
      }
      
      h5 {
        margin: 28px 0 32px;
      }
    }
    
    
  }
  
  
}


/* mean layout main */