/* ==========================================================================
   Site settings.
   ========================================================================== */

/* Typograthy */
$base-font-size: 14px;
$base-line-height: 18px;
$font-main: "OpenSansRegular", Helvetica, Arial, sans-serif;
$font-logo: "Bles","OpenSansRegular", sans-serif ;


/* Colors */
$color-white: #fff;
$color-dark-blue: #34495e;

/* Colors for buttons and border */
$color-green: #1abc9c; 
$color-blue: #3498db;

/* Colors for bg */
$color-bg1: #34495e;
$color-bg2: #f7f7f7;
/**/
$color-form: #5d6d7e;


/* Positioning */

/* Clearfix */

.clearfix {
  
  &:after,
  &:before {
    content: "";
    clear: both;
    display: table;
  }
}

/* Center Wrapper */
.center-wrapper {
  @extend .clearfix;
  
  margin: 0 auto;
  width: 940px;
  outline: 1px dashed red;
}


