/* ==========================================================================
   Form styles.
   ========================================================================== */

.contact-name,
.contact-mail,
.contact-subject, 
.contact-message {
  color: $color-white;
  background-color: $color-form;
  box-sizing: border-box;
  height: 43px;
  padding-left: 12px;
  font-size: 13px;
  line-height: 28px;
  font-family: $font-main;
  border: none;
  border-radius: 5px;
}

.contact-name,
.contact-mail {
  width: 220px;
}

.contact-subject {
  width: 460px;
  position: relative;
  
  &:after {
    content: '';
    position: absolute;
    background: url(/img/icons-s852293ce9a.png) no-repeat 0 -85px;
    width: 37px;
    height: 32px;
    outline: 2px solid red;
  }
  
}

.contact-message {
  width: 460px;
  height: 150px;
}